<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>lab</key>
	<dict>
		<key>otherName</key>
		<dict>
			<key>2x</key>
			<string>1</string>
			<key>3x</key>
			<string>0</string>
		</dict>
		<key>height</key>
		<string>40</string>
		<key>wide</key>
		<string>40</string>
	</dict>
	<key>yvip</key>
	<dict>
		<key>otherName</key>
		<dict>
			<key>2x</key>
			<string>1</string>
			<key>3x</key>
			<string>0</string>
		</dict>
		<key>height</key>
		<string>30</string>
		<key>wide</key>
		<string>75</string>
	</dict>
	<key>pvip</key>
	<dict>
		<key>otherName</key>
		<dict>
			<key>2x</key>
			<string>1</string>
			<key>3x</key>
			<string>0</string>
		</dict>
		<key>height</key>
		<string>30</string>
		<key>wide</key>
		<string>75</string>
	</dict>
	<key>bHeart</key>
	<dict>
		<key>otherName</key>
		<dict>
			<key>2x</key>
			<string>1</string>
			<key>3x</key>
			<string>0</string>
		</dict>
		<key>height</key>
		<string>30</string>
		<key>wide</key>
		<string>35</string>
	</dict>
	<key>gHeart</key>
	<dict>
		<key>otherName</key>
		<dict>
			<key>2x</key>
			<string>1</string>
			<key>3x</key>
			<string>0</string>
		</dict>
		<key>height</key>
		<string>30</string>
		<key>wide</key>
		<string>35</string>
	</dict>
	<key>rHeart</key>
	<dict>
		<key>otherName</key>
		<dict>
			<key>2x</key>
			<string>1</string>
			<key>3x</key>
			<string>0</string>
		</dict>
		<key>height</key>
		<string>30</string>
		<key>wide</key>
		<string>35</string>
	</dict>
	<key>yHeart</key>
	<dict>
		<key>otherName</key>
		<dict>
			<key>2x</key>
			<string>1</string>
			<key>3x</key>
			<string>0</string>
		</dict>
		<key>height</key>
		<string>30</string>
		<key>wide</key>
		<string>35</string>
	</dict>
	<key>star000</key>
	<dict>
		<key>otherName</key>
		<dict>
			<key>2x</key>
			<string>1</string>
			<key>3x</key>
			<string>0</string>
		</dict>
		<key>height</key>
		<string>30</string>
		<key>wide</key>
		<string>66</string>
	</dict>
	<key>star001</key>
	<dict>
		<key>otherName</key>
		<dict>
			<key>2x</key>
			<string>1</string>
			<key>3x</key>
			<string>0</string>
		</dict>
		<key>height</key>
		<string>30</string>
		<key>wide</key>
		<string>66</string>
	</dict>
	<key>star002</key>
	<dict>
		<key>otherName</key>
		<dict>
			<key>2x</key>
			<string>1</string>
			<key>3x</key>
			<string>0</string>
		</dict>
		<key>height</key>
		<string>30</string>
		<key>wide</key>
		<string>66</string>
	</dict>
	<key>star003</key>
	<dict>
		<key>otherName</key>
		<dict>
			<key>2x</key>
			<string>1</string>
			<key>3x</key>
			<string>0</string>
		</dict>
		<key>height</key>
		<string>30</string>
		<key>wide</key>
		<string>66</string>
	</dict>
	<key>star004</key>
	<dict>
		<key>otherName</key>
		<dict>
			<key>2x</key>
			<string>1</string>
			<key>3x</key>
			<string>0</string>
		</dict>
		<key>height</key>
		<string>30</string>
		<key>wide</key>
		<string>66</string>
	</dict>
	<key>star005</key>
	<dict>
		<key>otherName</key>
		<dict>
			<key>2x</key>
			<string>1</string>
			<key>3x</key>
			<string>0</string>
		</dict>
		<key>height</key>
		<string>30</string>
		<key>wide</key>
		<string>66</string>
	</dict>
	<key>star006</key>
	<dict>
		<key>otherName</key>
		<dict>
			<key>2x</key>
			<string>1</string>
			<key>3x</key>
			<string>0</string>
		</dict>
		<key>height</key>
		<string>30</string>
		<key>wide</key>
		<string>66</string>
	</dict>
	<key>star007</key>
	<dict>
		<key>otherName</key>
		<dict>
			<key>2x</key>
			<string>1</string>
			<key>3x</key>
			<string>0</string>
		</dict>
		<key>height</key>
		<string>30</string>
		<key>wide</key>
		<string>66</string>
	</dict>
	<key>star008</key>
	<dict>
		<key>otherName</key>
		<dict>
			<key>2x</key>
			<string>1</string>
			<key>3x</key>
			<string>0</string>
		</dict>
		<key>height</key>
		<string>30</string>
		<key>wide</key>
		<string>66</string>
	</dict>
	<key>star009</key>
	<dict>
		<key>otherName</key>
		<dict>
			<key>2x</key>
			<string>1</string>
			<key>3x</key>
			<string>0</string>
		</dict>
		<key>height</key>
		<string>30</string>
		<key>wide</key>
		<string>66</string>
	</dict>
	<key>star010</key>
	<dict>
		<key>otherName</key>
		<dict>
			<key>2x</key>
			<string>1</string>
			<key>3x</key>
			<string>0</string>
		</dict>
		<key>height</key>
		<string>30</string>
		<key>wide</key>
		<string>66</string>
	</dict>
	<key>star011</key>
	<dict>
		<key>otherName</key>
		<dict>
			<key>2x</key>
			<string>1</string>
			<key>3x</key>
			<string>0</string>
		</dict>
		<key>height</key>
		<string>30</string>
		<key>wide</key>
		<string>66</string>
	</dict>
	<key>star012</key>
	<dict>
		<key>otherName</key>
		<dict>
			<key>2x</key>
			<string>1</string>
			<key>3x</key>
			<string>0</string>
		</dict>
		<key>height</key>
		<string>30</string>
		<key>wide</key>
		<string>66</string>
	</dict>
	<key>star013</key>
	<dict>
		<key>otherName</key>
		<dict>
			<key>2x</key>
			<string>1</string>
			<key>3x</key>
			<string>0</string>
		</dict>
		<key>height</key>
		<string>30</string>
		<key>wide</key>
		<string>66</string>
	</dict>
	<key>star014</key>
	<dict>
		<key>otherName</key>
		<dict>
			<key>2x</key>
			<string>1</string>
			<key>3x</key>
			<string>0</string>
		</dict>
		<key>height</key>
		<string>30</string>
		<key>wide</key>
		<string>66</string>
	</dict>
	<key>star015</key>
	<dict>
		<key>otherName</key>
		<dict>
			<key>2x</key>
			<string>1</string>
			<key>3x</key>
			<string>0</string>
		</dict>
		<key>height</key>
		<string>30</string>
		<key>wide</key>
		<string>66</string>
	</dict>
	<key>star016</key>
	<dict>
		<key>otherName</key>
		<dict>
			<key>2x</key>
			<string>1</string>
			<key>3x</key>
			<string>0</string>
		</dict>
		<key>height</key>
		<string>30</string>
		<key>wide</key>
		<string>66</string>
	</dict>
	<key>star017</key>
	<dict>
		<key>otherName</key>
		<dict>
			<key>2x</key>
			<string>1</string>
			<key>3x</key>
			<string>0</string>
		</dict>
		<key>height</key>
		<string>30</string>
		<key>wide</key>
		<string>66</string>
	</dict>
	<key>star018</key>
	<dict>
		<key>otherName</key>
		<dict>
			<key>2x</key>
			<string>1</string>
			<key>3x</key>
			<string>0</string>
		</dict>
		<key>height</key>
		<string>30</string>
		<key>wide</key>
		<string>66</string>
	</dict>
	<key>star019</key>
	<dict>
		<key>otherName</key>
		<dict>
			<key>2x</key>
			<string>1</string>
			<key>3x</key>
			<string>0</string>
		</dict>
		<key>height</key>
		<string>30</string>
		<key>wide</key>
		<string>66</string>
	</dict>
	<key>star020</key>
	<dict>
		<key>otherName</key>
		<dict>
			<key>2x</key>
			<string>1</string>
			<key>3x</key>
			<string>0</string>
		</dict>
		<key>height</key>
		<string>30</string>
		<key>wide</key>
		<string>66</string>
	</dict>
	<key>V0</key>
	<dict>
		<key>otherName</key>
		<dict>
			<key>2x</key>
			<string>1</string>
			<key>3x</key>
			<string>0</string>
		</dict>
		<key>height</key>
		<string>30</string>
		<key>wide</key>
		<string>72</string>
	</dict>
	<key>V1</key>
	<dict>
		<key>otherName</key>
		<dict>
			<key>2x</key>
			<string>1</string>
			<key>3x</key>
			<string>0</string>
		</dict>
		<key>height</key>
		<string>30</string>
		<key>wide</key>
		<string>72</string>
	</dict>
	<key>V2</key>
	<dict>
		<key>otherName</key>
		<dict>
			<key>2x</key>
			<string>1</string>
			<key>3x</key>
			<string>0</string>
		</dict>
		<key>height</key>
		<string>30</string>
		<key>wide</key>
		<string>72</string>
	</dict>
	<key>V3</key>
	<dict>
		<key>otherName</key>
		<dict>
			<key>2x</key>
			<string>1</string>
			<key>3x</key>
			<string>0</string>
		</dict>
		<key>height</key>
		<string>30</string>
		<key>wide</key>
		<string>72</string>
	</dict>
	<key>V4</key>
	<dict>
		<key>otherName</key>
		<dict>
			<key>2x</key>
			<string>1</string>
			<key>3x</key>
			<string>0</string>
		</dict>
		<key>height</key>
		<string>30</string>
		<key>wide</key>
		<string>72</string>
	</dict>
	<key>V5</key>
	<dict>
		<key>otherName</key>
		<dict>
			<key>2x</key>
			<string>1</string>
			<key>3x</key>
			<string>0</string>
		</dict>
		<key>height</key>
		<string>30</string>
		<key>wide</key>
		<string>72</string>
	</dict>
	<key>V6</key>
	<dict>
		<key>otherName</key>
		<dict>
			<key>2x</key>
			<string>1</string>
			<key>3x</key>
			<string>0</string>
		</dict>
		<key>height</key>
		<string>30</string>
		<key>wide</key>
		<string>72</string>
	</dict>
	<key>V7</key>
	<dict>
		<key>otherName</key>
		<dict>
			<key>2x</key>
			<string>1</string>
			<key>3x</key>
			<string>0</string>
		</dict>
		<key>height</key>
		<string>30</string>
		<key>wide</key>
		<string>72</string>
	</dict>
	<key>V8</key>
	<dict>
		<key>otherName</key>
		<dict>
			<key>2x</key>
			<string>1</string>
			<key>3x</key>
			<string>0</string>
		</dict>
		<key>height</key>
		<string>30</string>
		<key>wide</key>
		<string>72</string>
	</dict>
	<key>V9</key>
	<dict>
		<key>otherName</key>
		<dict>
			<key>2x</key>
			<string>1</string>
			<key>3x</key>
			<string>0</string>
		</dict>
		<key>height</key>
		<string>30</string>
		<key>wide</key>
		<string>72</string>
	</dict>
	<key>V10</key>
	<dict>
		<key>otherName</key>
		<dict>
			<key>2x</key>
			<string>1</string>
			<key>3x</key>
			<string>0</string>
		</dict>
		<key>height</key>
		<string>30</string>
		<key>wide</key>
		<string>72</string>
	</dict>
	<key>V11</key>
	<dict>
		<key>otherName</key>
		<dict>
			<key>2x</key>
			<string>1</string>
			<key>3x</key>
			<string>0</string>
		</dict>
		<key>height</key>
		<string>30</string>
		<key>wide</key>
		<string>72</string>
	</dict>
	<key>V12</key>
	<dict>
		<key>otherName</key>
		<dict>
			<key>2x</key>
			<string>1</string>
			<key>3x</key>
			<string>0</string>
		</dict>
		<key>height</key>
		<string>30</string>
		<key>wide</key>
		<string>72</string>
	</dict>
	<key>V13</key>
	<dict>
		<key>otherName</key>
		<dict>
			<key>2x</key>
			<string>1</string>
			<key>3x</key>
			<string>0</string>
		</dict>
		<key>height</key>
		<string>30</string>
		<key>wide</key>
		<string>72</string>
	</dict>
	<key>V14</key>
	<dict>
		<key>otherName</key>
		<dict>
			<key>2x</key>
			<string>1</string>
			<key>3x</key>
			<string>0</string>
		</dict>
		<key>height</key>
		<string>30</string>
		<key>wide</key>
		<string>72</string>
	</dict>
	<key>V15</key>
	<dict>
		<key>otherName</key>
		<dict>
			<key>2x</key>
			<string>1</string>
			<key>3x</key>
			<string>0</string>
		</dict>
		<key>height</key>
		<string>30</string>
		<key>wide</key>
		<string>72</string>
	</dict>
	<key>V16</key>
	<dict>
		<key>otherName</key>
		<dict>
			<key>2x</key>
			<string>1</string>
			<key>3x</key>
			<string>0</string>
		</dict>
		<key>height</key>
		<string>30</string>
		<key>wide</key>
		<string>72</string>
	</dict>
	<key>V17</key>
	<dict>
		<key>otherName</key>
		<dict>
			<key>2x</key>
			<string>1</string>
			<key>3x</key>
			<string>0</string>
		</dict>
		<key>height</key>
		<string>30</string>
		<key>wide</key>
		<string>72</string>
	</dict>
	<key>V18</key>
	<dict>
		<key>otherName</key>
		<dict>
			<key>2x</key>
			<string>1</string>
			<key>3x</key>
			<string>0</string>
		</dict>
		<key>height</key>
		<string>30</string>
		<key>wide</key>
		<string>72</string>
	</dict>
	<key>V19</key>
	<dict>
		<key>otherName</key>
		<dict>
			<key>2x</key>
			<string>1</string>
			<key>3x</key>
			<string>0</string>
		</dict>
		<key>height</key>
		<string>30</string>
		<key>wide</key>
		<string>72</string>
	</dict>
	<key>V20</key>
	<dict>
		<key>otherName</key>
		<dict>
			<key>2x</key>
			<string>1</string>
			<key>3x</key>
			<string>0</string>
		</dict>
		<key>height</key>
		<string>30</string>
		<key>wide</key>
		<string>72</string>
	</dict>
	<key>V21</key>
	<dict>
		<key>otherName</key>
		<dict>
			<key>2x</key>
			<string>1</string>
			<key>3x</key>
			<string>0</string>
		</dict>
		<key>height</key>
		<string>30</string>
		<key>wide</key>
		<string>72</string>
	</dict>
	<key>V22</key>
	<dict>
		<key>otherName</key>
		<dict>
			<key>2x</key>
			<string>1</string>
			<key>3x</key>
			<string>0</string>
		</dict>
		<key>height</key>
		<string>30</string>
		<key>wide</key>
		<string>72</string>
	</dict>
	<key>V23</key>
	<dict>
		<key>otherName</key>
		<dict>
			<key>2x</key>
			<string>1</string>
			<key>3x</key>
			<string>0</string>
		</dict>
		<key>height</key>
		<string>30</string>
		<key>wide</key>
		<string>72</string>
	</dict>
	<key>V24</key>
	<dict>
		<key>otherName</key>
		<dict>
			<key>2x</key>
			<string>1</string>
			<key>3x</key>
			<string>0</string>
		</dict>
		<key>height</key>
		<string>30</string>
		<key>wide</key>
		<string>72</string>
	</dict>
</dict>
</plist>
