<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Alipay Public Key</key>
	<string>MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCnxj/9qwVfgoUh/y2W89L6BkRAFljhNhgPdyPuBV64bfQNN1PjbCzkIM6qRdKBoLPXmKKMiFYnkd6rAoprih3/PrQEB/VsW8OoM8fxn67UDYuyBTqA23MML9q1+ilIZwBC2AQ2UBVOrFXfFl75p6/B5KsiNG9zpgmLCUYuLkxpLQIDAQAB</string>
	<key>AppScheme</key>
	<string>BoXiu</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>热波间</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>ReBo.$(PRODUCT_NAME:rfc1034identifier)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.3.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>BoXiu</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>BoXiu</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>sina</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>sina41f59b27341030ce0c4fc1157141a35d</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>tencent</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>tencent1101690805</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>wx</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wx8c5a83019fb58d2c</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>QQ</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>QQ41AA77B5</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1.9.0</string>
	<key>Des Private Key</key>
	<string>88888888</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>wechat</string>
		<string>weixin</string>
		<string>sinaweibohd</string>
		<string>sinaweibo</string>
		<string>sinaweibosso</string>
		<string>weibosdk</string>
		<string>weibosdk2.5</string>
		<string>mqqapi</string>
		<string>mqq</string>
		<string>mqqOpensdkSSoLogin</string>
		<string>mqqconnect</string>
		<string>mqqopensdkdataline</string>
		<string>mqqopensdkgrouptribeshare</string>
		<string>mqqopensdkfriend</string>
		<string>mqqopensdkapi</string>
		<string>mqqopensdkapiV2</string>
		<string>mqqopensdkapiV3</string>
		<string>mqzoneopensdk</string>
		<string>wtloginmqq</string>
		<string>wtloginmqq2</string>
		<string>mqqwpa</string>
		<string>mqzone</string>
		<string>mqzonev2</string>
		<string>mqzoneshare</string>
		<string>wtloginqzone</string>
		<string>mqzonewx</string>
		<string>mqzoneopensdkapiV2</string>
		<string>mqzoneopensdkapi19</string>
		<string>mqzoneopensdkapi</string>
		<string>mqqbrowser</string>
		<string>mttbrowser</string>
		<string>renrenios</string>
		<string>renrenapi</string>
		<string>renren</string>
		<string>renreniphone</string>
		<string>laiwangsso</string>
		<string>yixin</string>
		<string>instagram</string>
		<string>whatsapp</string>
		<string>line</string>
		<string>fbapi</string>
		<string>fb-messenger-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MerchaNo</key>
	<string>000000000000000</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict/>
	</dict>
	<key>PartnerID</key>
	<string>2088411572256700</string>
	<key>QQAppId</key>
	<string>1101690805</string>
	<key>QQAppSecret</key>
	<string>oQqqyhiK6FUoSE49</string>
	<key>RSA Private Key</key>
	<string>MIICeAIBADANBgkqhkiG9w0BAQEFAASCAmIwggJeAgEAAoGBALw6e9B5Pc49iKYXJPIZkMngfzeawirC+nTfDP2IsC9SIlN/JJIrEfkVzrnWQDHY/BCHh9wFJtUJ7pmsu07JxqLS+Q+fWuEJiVdpYYg+j1rubUMApC8CY0lxbxhK7KSUwQGD5lANjXrrKIqLfF1Rmq16lf2BjMVc5L5kC3NMB4lnAgMBAAECgYEAllY/veqYKrmLAt1JbPRuaE8eTNMWcgD4+Y+NWJJr5d+7+uR52ST9XezFCDjPXQDpkmotYNXchhtArwz/LZaLRvI2qeNmybhWcptrFFX8731pqVRKoikRO/3s6vyD4MC0i6pdhVxK3QTGOxxKivNByqALDnY0GXnshdzsOVFzuUECQQDkvr8gRlNO9Emj2qzV2wyRUjyVs3uJAETSpOtRUCXjH2dmL1Lif9hQF+mKtKv9aRSaiHiJJ+FTxv33mHgjl5ltAkEA0qfivQ1eWg7giHZ27cPP79JV5GgK0u3ZyBok8n734hUKc5cQSrR2CxDxRt2lXf26C35nlKZjjmNviycV7m2dowJAEEksXmXjZImr/IiDKa6w1F/ghGAE+ZoVTFIFlwJ30BXaTMItyoaDpiAttnxqil5C40W4HzvBpS9TwZ8PXqlaeQJBAMX6hO06mDc5jiqSc7mH83AoFRNh+PI+GhSnBZxmWd+/+J+kFOqw6dQCq0/31YgdgvF0bjLVofFbYKS+Ki14FdMCQQCO9gHJL1zP9h0sJ0PTsPJfvuNnXn1rZyJ8dUZRPXcFeit33sd3cKlUkI1fhgEL2KQjnEuS17/ycuXyZnit0nOo</string>
	<key>RSA Public Key</key>
	<string></string>
	<key>SellerID</key>
	<string>51rexiu@ourebo.cn</string>
	<key>ShareAppKey</key>
	<string>29248bedbb38</string>
	<key>SinaWeiboAppKey</key>
	<string>1442249702</string>
	<key>SinaWeiboAppSecret</key>
	<string>41f59b27341030ce0c4fc1157141a35d</string>
	<key>Test_Version</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>PingFang 简粗.ttf</string>
		<string>PingFang 简体.ttf</string>
		<string>PingFang 简细.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UMengAppkey</key>
	<string>53d0fb4856240b04f30418ab</string>
	<key>WXAppId</key>
	<string>wx8c5a83019fb58d2c</string>
	<key>WXAppSecret</key>
	<string>c73461679eb732174efc66dde54c71ab</string>
	<key>channelid</key>
	<string>appstore</string>
</dict>
</plist>
